<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:dashboard="http://typo3.org/ns/TYPO3/CMS/Dashboard/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:if condition="{version} < 13">
    <div class="widget-content-title d-flex" style="gap:10px;">
        <core:icon identifier="heatmap-widget-{options.type}" size="small"/>
        <span><f:translate key="{configuration.title}"/></span>
    </div>
</f:if>
<div class="widget-content-main widget-content-heatmap">
    <f:if condition="{records}">
        <f:then>
            <div id="heatmap-container"
                 data-values="{records -> f:format.json()}"
                 {f:if(condition: options.color, then: 'data-options-color="{options.color}"', else: '')}
                 {f:if(condition: options.duration, then: 'data-options-duration="{options.duration}"', else: '')}
                 {f:if(condition: options.dateRangeMode, then: 'data-options-date-range-mode="{options.dateRangeMode}"', else: '')}
                 {f:if(condition: locale, then: 'data-options-locale="{locale}"', else: '')}
                 {f:if(condition: options.showLegend, then: 'data-options-show-legend="{options.showLegend}"', else: '')}
                 {f:if(condition: options.showYearLabels, then: 'data-options-show-year-labels="{options.showYearLabels}"', else: '')}
                 {f:if(condition: options.showMonthLabels, then: 'data-options-show-month-labels="{options.showMonthLabels}"', else: '')}
                 {f:if(condition: options.minCellSize, then: 'data-options-min-cell-size="{options.minCellSize}"', else: '')}
                 {f:if(condition: options.maxCellSize, then: 'data-options-max-cell-size="{options.maxCellSize}"', else: '')}
                 {f:if(condition: options.weekStartsOnMonday, then: 'data-options-week-starts-on-monday="{options.weekStartsOnMonday}"', else: '')}
                 {f:if(condition: options.tooltipWidth, then: 'data-options-tooltip-width="{options.tooltipWidth}"', else: '')}
                 {f:if(condition: options.tooltipHeight, then: 'data-options-tooltip-height="{options.tooltipHeight}"', else: '')}
                 data-options-tooltip-item-singular="{f:translate(key: options.tooltipItemSingular)}"
                 data-options-tooltip-item-plural="{f:translate(key: options.tooltipItemPlural)}"
                 data-options-legend-less="{f:translate(key: 'legend.less', extensionName: 'Typo3HeatmapWidget')}"
                 data-options-legend-more="{f:translate(key: 'legend.more', extensionName: 'Typo3HeatmapWidget')}"
            ></div>
        </f:then>
        <f:else>
            <div class="row widget-no-items-found">
                <div class="d-flex flex-column align-items-center justify-content-center">
                    <core:icon identifier="heatmap-widget-empty" size="large"/>
                    <f:translate key="widgets.empty" extensionName="Typo3HeatmapWidget"/>
                </div>
            </div>
        </f:else>
    </f:if>
</div>

<div class="widget-content-footer">
    <f:if condition="{button}">
        <dashboard:widget.button button="{button}" class="widget-cta">{f:translate(id: button.title, default: button.title)}</dashboard:widget.button>
    </f:if>
</div>

</html>
